.adp_user
.anyconnect
.anyconnectvpn*
.apport-ignore.xml
.bash_history
.bash_local
.bash_logout
.bash_profile
bin/build.stress.test.sh
bin/*.exe
bin/qemu*
bin/youtube-dl*
.cache/
.cgdb/logs/
.cgdb/readline_history*
.chromium-bsu
.cisco/
.cmake/
.conda/
conda/
.config/Abricotine/
.config/asciinema/install-id
.config/autostart/
.config/bashtop/
.config/btop/
.config/connections.db
.config/dconf/
.config/enchant/
.config/eog/
.config/evince/
.config/evolution/
.config/fontconfig/
.config/font-manager/
.config/freerdp/
.config/gedit/
.config/git/gitk
.config/gnome-control-center
.config/gnome-initial-setup-done
.config/goa*/
.config/google-chrome/
.config/.gsd-keyboard.settings-ported
.config/gtk-3.0/
.config/ibus/
.config/libreoffice/
.config/menus/
.config/Microsoft/
.config/mimeapps.list
.config/monitors.xml*
.config/nautilus/
.config/obsidian/
.config/pulse/
.config/QtProject/
.config/remmina/
.config/Slack/
.config/teams/
.config/user-dirs*
.config/vlc/
.config/Zeal/
.config/zoom*
cs2
.cups/
.dbus/
.dbus-keyrings
deliverables/
Desktop/
Devel
DLAM
.docker/
Documents/
Downloads/
.emacs.d/auto-save-list/.saves*
.emacs.d/bookmarks
.emacs.d/eln-cache/
.emacs.d/emojis/apple/
.emacs.d/emojis/emojione/
.emacs.d/eshell/
.emacs.d/ido.last
.emacs.d/.lsp-session-v1
.emacs.d/network-security.data
.emacs.d/projects
.emacs.d/recentf
.emacs.d/server/
.emacs.d/session*
.emacs.d/tramp
.emacs.d/transient/
.emacs.d/url/
.fltk/
.fontconfig/
GabeNTrader
Games/
.gdb_history
.gdb_proxy-symlinks/
.gdb/*/*.pyc
.gdb/*/*/*.pyc
.gdb/*/*/*/*.pyc
.gitconfig-workspace
.gnome/
.gnupg/
.gtkrc-2.0
.ICAClient/
Incoming*
.k5_ccache/
.kde/
.landscape/
.lesshst
.local/
local/
main.py
.motd_shown
.mozilla/
.netrc
.nv/
NvidiaRecordings
.nvidia-settings-rc
packages-*
Pictures/
.pki/
.pycache/
.python_history
Screenshots/
setup.log*
snap/
.source-highlight/
.sqlite_history
.ssh
.ssh/
.ssp_systems.json
.steam/
Steam/
.steampath
.steampid
.tgdb/
.thunderbird/
tmp*
tmp/
TO*DELETE*
TODO*
.vboxclient-*
.viminfo
.vim/.netrwhist
.vs/
Wallpapers/
.wget-hsts
.wine/
workspace/
Workspace
.zoom/
