DLAM
Devel
Desktop/
Documents/
Downloads/
Games/
Incoming*
Steam/
OAI/
Pictures/
Wallpapers/
conda/
snap/
tmp/

bin/youtube-dl*
bin/*.exe
bin/qemu*
local/
packages-*
setup.log*
tmp*
TO*DELETE*

.bash_history
.bash_logout
.bash_profile
.cgdb/logs/
.cgdb/readline_history*
.dbus-keyrings
.gnupg/
.hushlogin
.lesshst
.ssh
.ssh/
.tgdb/
.viminfo
.wget-hsts
.cache/
.config/asciinema/install-id
.config/btop/
.config/git/gitk
.config/dconf/
.config/monitors.xml*
.config/pulse/
.config/Microsoft/
.config/nautilus/
.config/teams/
.config/enchant/
.config/gedit/
.config/gnome-initial-setup-done
.config/gnome-control-center
.config/.gsd-keyboard.settings-ported
.config/evolution/
.config/goa*/
.config/gtk-3.0/
.config/ibus/
.config/libreoffice/
.config/mimeapps.list
.config/obsidian/
.config/user-dirs*
.config/vlc/
.config/zoom*
.config/Abricotine/
.config/Slack/
.config/Zeal/
.emacs.d/bookmarks
.emacs.d/eln-cache/
.emacs.d/emojis/apple/
.emacs.d/emojis/emojione/
.emacs.d/network-security.data
.emacs.d/server/
.emacs.d/transient/
.fontconfig/
.source-highlight/
.gdb/*/*.pyc
.gdb/*/*/*.pyc
.gdb/*/*/*/*.pyc
.cmake/
.conda/
.dbus/
.landscape/
.local/
.mozilla/
.nv/
.emacs.d/auto-save-list/.saves*
.emacs.d/eshell/
.emacs.d/session*
.emacs.d/ido.last
.anyconnect
.apport-ignore.xml
.chromium-bsu
.fltk/
.gtkrc-2.0
.kde/
.motd_shown
.nvidia-settings-rc
.pki/
.python_history
.steam/
.steampath
.steampid
.thunderbird/
.vs/
.vboxclient-*
.wine/
.zoom/
