[alias]
    st = status
    lol = log --pretty=format:'%C(auto)%h%d %ad %aN %s' --abbrev-commit --graph --decorate --topo-order --date=short
    amend = commit --amend --date=now --no-edit
[user]
    email = not.an.email@email.email
    name = Neptune Magic Sauce
[includeIf "gitdir:~/OAI/"]
    path = ~/OAI/.gitconfig
[color]
    ui = true
[core]
    whitespace = cr-at-eol,-blank-at-eol,-blank-at-eof
    symlinks = true
    autocrlf = false # needed for cygwin/wsl (not msys) so that git checkout gets unix eol (not dos eol)
    safecrlf = false # default is warn, it is too verbose on broken windows configs
# [alias]
    # nice logs
    # l = log --decorate --graph --date=short --pretty=\"format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C()%s %C(black) [%an]%Creset\"
[pull]
    rebase = false
[diff]
    submodule = log
[status]
    submoduleSummary = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[pager]
    log  = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less
    show = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less
    diff = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less