[alias]
    st = status
    l = log \
      --pretty=format:'%C(auto)%h %Cblue%ad%Creset %<(80,trunc)%s%Cgreen%an%C(auto)%d%Creset' \
      --abbrev-commit \
      --decorate \
      --topo-order\
      --date=format-local:'%Y-%m-%d %H:%M'
      # --date=short
      # --graph
    # l = log --decorate --graph --date=short --pretty=\"format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C()%s %C(black) [%an]%Creset\"
    amend = commit --amend --date=now --no-edit
[user]
    email = 37757244+NeptuneMagicSauce@users.noreply.github.com
    name = Neptune Magic Sauce
[includeIf "gitdir:~/workspace/"]
    path = .gitconfig-workspace
[color]
    ui = true
[core]
    whitespace = cr-at-eol,-blank-at-eol,-blank-at-eof
    symlinks = true
    autocrlf = false # needed for cygwin/wsl (not msys) so that git checkout gets unix eol (not dos eol)
    safecrlf = false # default is warn, it is too verbose on broken windows configs
[pull]
    rebase = false
[diff]
    submodule = log
[status]
    submoduleSummary = true

# git diff color palette from
# https://www.color-hex.com/color-palette/1059421
# https://www.color-hex.com/color-palette/75129

[color "diff-highlight"]
  oldNormal = "#f765b8" bold
  oldHighlight = 16 bold "#f765b8"
  newNormal = "#27fdf5" bold
  newHighlight = 16 bold "#27fdf5"
[color "diff"]
    meta = "#a3d97c"
    # meta = "#7affb4"
    frag = magenta bold
    func = "#1fa2ff" bold
    # func = "#aa9eef" bold
    commit = 220 bold
    old = "#f765b8" bold
    new = "#27fdf5" bold
    whitespace = red reverse


[pager]
    log  = perl ~/.diff-highlight | less
    show = perl ~/.diff-highlight | less
    diff = perl ~/.diff-highlight | less