.bash_history
.cgdb/logs/
.cgdb/readline_history*
.dbus-keyrings
.gnupg/
.lesshst
.ssh/
.tgdb/
.viminfo
.wget-hsts
TO*DELETE*
setup.log*
.cache/
packages-*
.config/git/gitk
.source-highlight/
local/msys/
tmp/
tmp*
.gdb/*/*.pyc
.gdb/*/*/*.pyc
.gdb/*/*/*/*.pyc
bin/youtube-dl*
bin/*.exe
Devel/
Downloads/
conda/
.cmake/
.conda/
.config/dconf/
.config/pulse/
.dbus/
.local/
.mozilla/
.nv/
Games/
local/
.emacs.d/auto-save-list/.saves*
.emacs.d/eshell/
.anyconnect
.apport-ignore.xml
.chromium-bsu
.config/Microsoft/
.config/nautilus/
.config/teams/
.fltk/
.gtkrc-2.0
.kde/
.nvidia-settings-rc
.pki/
.steam/
.steampath
.steampid
.thunderbird/
.wine/
